<script type="text/javascript">
  function setPlaylist (pl) {
   if (confirm("Add "+pl+" to the queue?")) {
  $.get("/setter/setrequest.php", { f: "pl_"+pl, a: pl, t: "playlist" });
   };
  }
</script>
<div>This tab let you add pre-made playlists into the queue.  Playlists are organised by genres.  They have an average length of 2 hours.</div>
<div>
<h3>Chanson</h3>
    <div>Feature artists like Léo Ferré, GiedRé and Plume Latraverse</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("chanson01")'>chanson01</a></li>
	</ul>
</div>
<div>
<h3>Drone & Doom Metal</h3>
<div>Feature artists like Black Sabbath, Acid King and Sunn o)))</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("doom01")'>doom01</a></li>
	  <li><a href='javascript:setPlaylist("doom02")'>doom02</a></li>
	</ul>
</div>
<div>
<h3>Female Fronted Punk Rock and Metal</h3>
    <div>Feature artists like Bikini Kill, Nina Hagen and Lucrate Milk</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("ffpunk01")'>ffpunk01</a></li>
	</ul>
</div>
<div>
<h3>Franco Punk</h3>
    <div>Feature artists like Bérurier Noir, Les Sheriff and Les Vulgaires Machins</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("francopunk01")'>francopunk01</a></li>
	  	  <li><a href='javascript:setPlaylist("francopunk02")'>francopunk02</a></li>
	</ul>
</div>
<div>
<h3>Japanese Idols</h3>
    <div>Feature artists like BiSH, Shiina Pikarin and Necronomidol</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("japidol01")'>japidol01</a></li>
	</ul>
</div>

      <div>
<h3>Noise, Industrial & Experimental music</h3>
<div>Feature artists like Merzbow, Throbing Gristle and Einsturzende Neubauten</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("noize01")'>noize01</a></li>
	  <li><a href='javascript:setPlaylist("noize02")'>noize02</a></li>
	  <li><a href='javascript:setPlaylist("noize03")'>noize03</a></li>
	  <li><a href='javascript:setPlaylist("noize04")'>noize04</a></li>
	  <li><a href='javascript:setPlaylist("noize05")'>noize05</a></li>
	  <li><a href='javascript:setPlaylist("noize06")'>noize06</a></li>
	</ul>
</div>
<div>
<h3>Progressive Rock</h3>
    <div>Feature artists like Genesis, Gentle Giant and Magma</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("progrock01")'>progrock01</a></li>
	  <li><a href='javascript:setPlaylist("progrock02")'>progrock02</a></li>
	  <li><a href='javascript:setPlaylist("progrock03")'>progrock03</a></li>
	</ul>
</div>
<div>
<h3>Psychedelic Rock</h3>
    <div>Feature artists like Pink Floyd, Iron Butterfly and The Residents</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("psychedelia01")'>psychedelia01</a></li>
	  <li><a href='javascript:setPlaylist("psychedelia02")'>psychedelia02</a></li>
	  <li><a href='javascript:setPlaylist("psychedelia03")'>psychedelia03</a></li>
	  <li><a href='javascript:setPlaylist("psychedelia04")'>psychedelia04</a></li>
	</ul>
</div>
<div>
<h3>Punk Rock</h3>
<div>Feature artists like The Sex Pistols, Dead Kennedys and The Ramones</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("punk01")'>punk01</a></li>
	</ul>
</div>
<div>
<h3>Ramones covers</h3>
<div>Feature artists like Osaka Ramones, Ramomex and Raimundos</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("ramones01")'>ramones01</a></li>
	</ul>
</div>
<div>
<h3>Reggae</h3>
<div>Feature artists like Bob Marley, Alpha Blondy and Black Uhuru</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("reggae01")'>reggae01</a></li>
	</ul>
</div>
<div>
<h3>Ska</h3>
<div>Feature artists like The New-York Ska-Jazz Ensemble, Eric Moris and The Planet smashers</div>
	<ul class="playlists">
	  <li><a href='javascript:setPlaylist("ska01")'>ska01</a></li>
	</ul>
</div>
