  
<script>
  function setGenreList() {
      var selected = [];
      $('#genresList input:checked').each(function() {
	  selected.push($(this).attr('genre'));
      });
      dataString=JSON.stringify(selected);

      $.ajax({
          type: "POST",
          url: "/setter/setgenres.php",
          data: { genres:dataString },
          success: function(data){
              alert('Change will be visible at the end of the current track');
          },
          error: function(e,t,m){
              alert(m);
          }
      });
  }
   	

  $( "#tabs" ).on( "tabsactivate", function( event, ui ) {
      if (ui.newPanel.attr('id') == "tabs-7") {
	  $.get("/getter/getautodj.php", function(data) {
	      $( "input" ).prop("checked", false);
	      $.each(jQuery.parseJSON(data), function(i,g) {
		  $( "input[genre='"+g+"']" ).prop("checked", true);
		  //alert(g);
	      });
	  });
      }
  } );
  var presets={

      "Ambience": ["Ambient", "Ambient Noise", "Dark Ambient", "Classical", "Drone Metal"],
      "Japidol": ["J-Pop", "Idol Bluegrass", "Idol Experimental", "Idol Folk Metal",
		  "Idol Hip Hop", "Idol Irish Folk", "Idol Math Rock", "Idol Metal",
		  "Idol Noise",  "Idol Punk", "Idol Shoegaze", "Idol Ska"],
      "Progrock": ["Math Rock", "Progressive Rock", "Krautrock", "Zeuhl"]
      "Punk": ["Anarcho Punk", "Country Punk", "Feminist Punk", "Folk Punk",
	       "Folk Anarcho Punk", "Funk Punk", "Garage Punk", "Hardcore Punk", 
	       "Idol Punk", "Jazz Punk", "Noise Punk", "Pop Punk",
	       "Progressive Punk","Psychobilly", "Punk Metal",
	       "Punk Rock", "Ska Punk", "Techno Punk" ]
  }
  
  function applyPreset (preset) {
      $( "input" ).prop("checked", false);
      $.each(presets[preset],function(i,g) {
	  $( "input[genre='"+g+"']" ).prop("checked", true);
      });
  }
</script>
<div>
  Presets:
  <select id="presets">
    <option>Ambience</option>
    <option>Altidol</option>
    <option>Progrock</option>
    <option>Punk</option>
    
  </select>
 <button onclick="applyPreset($('#presets').val())">OK</button> 
  </div>
<div>
  <ul id="genresList">
<li><input type="checkbox" genre="8 bits"/>&nbsp;8 bits</li>
<li><input type="checkbox" genre="African Folk"/>&nbsp;African Folk</li>
<li><input type="checkbox" genre="African Pop"/>&nbsp;African Pop</li>
<li><input type="checkbox" genre="Ambient"/>&nbsp;Ambient</li>
<li><input type="checkbox" genre="Ambient Noise"/>&nbsp;Ambient Noise</li>
<li><input type="checkbox" genre="Anarcho Punk"/>&nbsp;Anarcho Punk</li>
<li><input type="checkbox" genre="Arabian Folk"/>&nbsp;Arabian Folk</li>
<li><input type="checkbox" genre="Arabian Folk Rock"/>&nbsp;Arabian Folk Rock</li>
<li><input type="checkbox" genre="Beatbox Punk"/>&nbsp;Beatbox Punk</li>
<li><input type="checkbox" genre="BisRock"/>&nbsp;BisRock</li>
<li><input type="checkbox" genre="Black Metal"/>&nbsp;Black Metal</li>
<li><input type="checkbox" genre="Bluegrass"/>&nbsp;Bluegrass</li>
<li><input type="checkbox" genre="Blues"/>&nbsp;Blues</li>
<li><input type="checkbox" genre="Blues Metal"/>&nbsp;Blues Metal</li>
<li><input type="checkbox" genre="Blues Rock"/>&nbsp;Blues Rock</li>
<li><input type="checkbox" genre="Calypso"/>&nbsp;Calypso</li>
<li><input type="checkbox" genre="Chanson"/>&nbsp;Chanson</li>
<li><input type="checkbox" genre="Christian Rock"/>&nbsp;Christian Rock</li>
<li><input type="checkbox" genre="Christian Ska"/>&nbsp;Christian Ska</li>

  <li><input type="checkbox" genre="Circus Folk"/>&nbsp;Circus Folk</li>
<li><input type="checkbox" genre="Classical"/>&nbsp;Classical</li>
<li><input type="checkbox" genre="Classical Metal"/>&nbsp;Classical Metal</li>
<li><input type="checkbox" genre="Classical Noise"/>&nbsp;Classical Noise</li>
<li><input type="checkbox" genre="Corsican Folk"/>&nbsp;Corsican Folk</li>
<li><input type="checkbox" genre="Country Music"/>&nbsp;Country Music</li>
<li><input type="checkbox" genre="Country Punk"/>&nbsp;Country Punk</li>
<li><input type="checkbox" genre="Cuban Folk"/>&nbsp;Cuban Folk</li>
<li><input type="checkbox" genre="Dark Ambient"/>&nbsp;Dark Ambient</li>

<li><input type="checkbox" genre="Dark Cabaret"/>&nbsp;Dark Cabaret<xb/li>
<li><input type="checkbox" genre="Death Metal"/>&nbsp;Death Metal</li>
<li><input type="checkbox" genre="Disco"/>&nbsp;Disco</li>
<li><input type="checkbox" genre="Doom Metal"/>&nbsp;Doom Metal</li>
<li><input type="checkbox" genre="Drone Metal"/>&nbsp;Drone Metal</li>
<li><input type="checkbox" genre="Dub"/>&nbsp;Dub</li>
<li><input type="checkbox" genre="Electro Industrial"/>&nbsp;Electro Industrial</li>
<li><input type="checkbox" genre="Electro Pop"/>&nbsp;Electro Pop</li>
<li><input type="checkbox" genre="Electro Surf"/>&nbsp;Electro Surf</li>
<li><input type="checkbox" genre="Electronic"/>&nbsp;Electronic</li>
<li><input type="checkbox" genre="Experimental"/>&nbsp;Experimental</li>
<li><input type="checkbox" genre="Experimental Jazz"/>&nbsp;Experimental Jazz</li>
<li><input type="checkbox" genre="Experimental Noise"/>&nbsp;Experimental Noise</li>
<li><input type="checkbox" genre="Feminist Punk"/>&nbsp;Feminist Punk</li>
<li><input type="checkbox" genre="Folk Anarcho Punk"/>&nbsp;Folk Anarcho Punk</li>
<li><input type="checkbox" genre="Folk Metal"/>&nbsp;Folk Metal</li>
<li><input type="checkbox" genre="Folk Pop"/>&nbsp;Folk Pop</li>
<li><input type="checkbox" genre="Folk Punk"/>&nbsp;Folk Punk</li>
<li><input type="checkbox" genre="Folk Rock"/>&nbsp;Folk Rock</li>
<li><input type="checkbox" genre="Funk"/>&nbsp;Funk</li>
<li><input type="checkbox" genre="Funk Punk"/>&nbsp;Funk Punk</li>
<li><input type="checkbox" genre="Garage Punk"/>&nbsp;Garage Punk</li>
<li><input type="checkbox" genre="Garage Rock"/>&nbsp;Garage Rock</li>
<li><input type="checkbox" genre="Gospel"/>&nbsp;Gospel</li>
<li><input type="checkbox" genre="Gothic Rock"/>&nbsp;Gothic Rock</li>
<li><input type="checkbox" genre="Gothic Weird"/>&nbsp;Gothic Weird</li>
<li><input type="checkbox" genre="Grindcore"/>&nbsp;Grindcore</li>
<li><input type="checkbox" genre="Hard Rock"/>&nbsp;Hard Rock</li>
<li><input type="checkbox" genre="Hardcore Punk"/>&nbsp;Hardcore Punk</li>
<li><input type="checkbox" genre="Harsh Noise"/>&nbsp;Harsh Noise</li>
<li><input type="checkbox" genre="Hawaiian Folk"/>&nbsp;Hawaiian Folk</li>
<li><input type="checkbox" genre="Heavy Metal"/>&nbsp;Heavy Metal</li>
<li><input type="checkbox" genre="Idol Bluegrass"/>&nbsp;Idol Bluegrass</li>
<li><input type="checkbox" genre="Idol Experimental"/>&nbsp;Idol Experimental</li>
<li><input type="checkbox" genre="Idol Folk Metal"/>&nbsp;Idol Folk Metal</li>
<li><input type="checkbox" genre="Idol Hip Hop"/>&nbsp;Idol Hip Hop</li>
<li><input type="checkbox" genre="Idol Irish Folk"/>&nbsp;Idol Irish Folk</li>
<li><input type="checkbox" genre="Idol Math Rock"/>&nbsp;Idol Math Rock</li>
<li><input type="checkbox" genre="Idol Metal"/>&nbsp;Idol Metal</li>
<li><input type="checkbox" genre="Idol Noise"/>&nbsp;Idol Noise</li>
<li><input type="checkbox" genre="Idol Punk"/>&nbsp;Idol Punk</li>
<li><input type="checkbox" genre="Idol Shoegaze"/>&nbsp;Idol Shoegaze</li>
<li><input type="checkbox" genre="Idol Ska"/>&nbsp;Idol Ska</li>
<li><input type="checkbox" genre="Industrial"/>&nbsp;Industrial</li>
<li><input type="checkbox" genre="Industrial Noise"/>&nbsp;Industrial Noise</li>
<li><input type="checkbox" genre="Industrial Rock"/>&nbsp;Industrial Rock</li>
<li><input type="checkbox" genre="Interview"/>&nbsp;Interview</li>
<li><input type="checkbox" genre="Irish Folk"/>&nbsp;Irish Folk</li>
<li><input type="checkbox" genre="J-Pop"/>&nbsp;J-Pop</li>
<li><input type="checkbox" genre="Jazz"/>&nbsp;Jazz</li>
<li><input type="checkbox" genre="Jazz Metal"/>&nbsp;Jazz Metal</li>
<li><input type="checkbox" genre="Jazz Punk"/>&nbsp;Jazz Punk</li>
<li><input type="checkbox" genre="Jazz Rock"/>&nbsp;Jazz Rock</li>
<li><input type="checkbox" genre="Kids"/>&nbsp;Kids</li>
<li><input type="checkbox" genre="Kompas"/>&nbsp;Kompas</li>
<li><input type="checkbox" genre="Krautrock"/>&nbsp;Krautrock</li>
<li><input type="checkbox" genre="Lounge"/>&nbsp;Lounge</li>
<li><input type="checkbox" genre="Lullabies"/>&nbsp;Lullabies</li>
<li><input type="checkbox" genre="Math Rock"/>&nbsp;Math Rock</li>
<li><input type="checkbox" genre="Medieval Folk"/>&nbsp;Medieval Folk</li>
<li><input type="checkbox" genre="Medieval Metal"/>&nbsp;Medieval Metal</li>
<li><input type="checkbox" genre="Modern Classical"/>&nbsp;Modern Classical</li>
<li><input type="checkbox" genre="New Age"/>&nbsp;New Age</li>
<li><input type="checkbox" genre="Noise"/>&nbsp;Noise</li>
<li><input type="checkbox" genre="Noise Ambient"/>&nbsp;Noise Ambient</li>
<li><input type="checkbox" genre="Noise Drone"/>&nbsp;Noise Drone</li>
<li><input type="checkbox" genre="Noise Metal"/>&nbsp;Noise Metal</li>
<li><input type="checkbox" genre="Noise Pop"/>&nbsp;Noise Pop</li>
<li><input type="checkbox" genre="Noise Punk"/>&nbsp;Noise Punk</li>
<li><input type="checkbox" genre="Noise Rock"/>&nbsp;Noise Rock</li>
<li><input type="checkbox" genre="Polka"/>&nbsp;Polka</li>
<li><input type="checkbox" genre="Pop"/>&nbsp;Pop</li>
<li><input type="checkbox" genre="Pop Ambient Noise"/>&nbsp;Pop Ambient Noise</li>
<li><input type="checkbox" genre="Pop Classical"/>&nbsp;Pop Classical</li>
<li><input type="checkbox" genre="Pop Jazz"/>&nbsp;Pop Jazz</li>
<li><input type="checkbox" genre="Pop Metal"/>&nbsp;Pop Metal</li>
<li><input type="checkbox" genre="Pop Punk"/>&nbsp;Pop Punk</li>
<li><input type="checkbox" genre="Pop Reggae"/>&nbsp;Pop Reggae</li>
<li><input type="checkbox" genre="Pop Rock"/>&nbsp;Pop Rock</li>
<li><input type="checkbox" genre="Pop Ska"/>&nbsp;Pop Ska</li>
<li><input type="checkbox" genre="Post Punk"/>&nbsp;Post Punk</li>
<li><input type="checkbox" genre="Power Metal"/>&nbsp;Power Metal</li>
<li><input type="checkbox" genre="Progressive Metal"/>&nbsp;Progressive Metal</li>
<li><input type="checkbox" genre="Progressive Noise Rock"/>&nbsp;Progressive Noise Rock</li>
<li><input type="checkbox" genre="Progressive Punk"/>&nbsp;Progressive Punk</li>
<li><input type="checkbox" genre="Progressive Rock"/>&nbsp;Progressive Rock</li>
<li><input type="checkbox" genre="Psychedelic Electro"/>&nbsp;Psychedelic Electro</li>
<li><input type="checkbox" genre="Psychedelic Folk"/>&nbsp;Psychedelic Folk</li>
<li><input type="checkbox" genre="Psychedelic Jazz"/>&nbsp;Psychedelic Jazz</li>
<li><input type="checkbox" genre="Psychedelic Metal"/>&nbsp;Psychedelic Metal</li>
<li><input type="checkbox" genre="Psychedelic Noise Rock"/>&nbsp;Psychedelic Noise Rock</li>
<li><input type="checkbox" genre="Psychedelic Polka"/>&nbsp;Psychedelic Polka</li>
<li><input type="checkbox" genre="Psychedelic Pop"/>&nbsp;Psychedelic Pop</li>
<li><input type="checkbox" genre="Psychedelic Progressive Rock"/>&nbsp;Psychedelic Progressive Rock</li>
<li><input type="checkbox" genre="Psychedelic Punk"/>&nbsp;Psychedelic Punk</li>
<li><input type="checkbox" genre="Psychedelic Reggae"/>&nbsp;Psychedelic Reggae</li>
<li><input type="checkbox" genre="Psychedelic Rock"/>&nbsp;Psychedelic Rock</li>
<li><input type="checkbox" genre="Psychobilly"/>&nbsp;Psychobilly</li>
<li><input type="checkbox" genre="Punk Metal"/>&nbsp;Punk Metal</li>

  <li><input type="checkbox" genre="Punk Rock"/>&nbsp;Punk Rock</li>
<li><input type="checkbox" genre="Raggamuffin"/>&nbsp;Raggamuffin</li>
<li><input type="checkbox" genre="Rap Metal"/>&nbsp;Rap Metal</li>
<li><input type="checkbox" genre="Rap Rock"/>&nbsp;Rap Rock</li>
<li><input type="checkbox" genre="Reggae"/>&nbsp;Reggae</li>
<li><input type="checkbox" genre="Reggae Jazz"/>&nbsp;Reggae Jazz</li>
<li><input type="checkbox" genre="Rhythm'n Blues"/>&nbsp;Rhythm'n Blues</li>
<li><input type="checkbox" genre="Rock & Roll"/>&nbsp;Rock & Roll</li>
<li><input type="checkbox" genre="Rockabilly"/>&nbsp;Rockabilly</li>
<li><input type="checkbox" genre="Rumba"/>&nbsp;Rumba</li>
<li><input type="checkbox" genre="Salsa"/>&nbsp;Salsa</li>
<li><input type="checkbox" genre="Ska"/>&nbsp;Ska</li>
<li><input type="checkbox" genre="Ska Jazz"/>&nbsp;Ska Jazz</li>
<li><input type="checkbox" genre="Ska Punk"/>&nbsp;Ska Punk</li>
<li><input type="checkbox" genre="Soft Rock"/>&nbsp;Soft Rock</li>
<li><input type="checkbox" genre="Soundtrack"/>&nbsp;Soundtrack</li>
<li><input type="checkbox" genre="Spoken Words"/>&nbsp;Spoken Words</li>
<li><input type="checkbox" genre="Surf Punk"/>&nbsp;Surf Punk</li>
<li><input type="checkbox" genre="Surf Rock"/>&nbsp;Surf Rock</li>
<li><input type="checkbox" genre="Symphonic Pop Metal"/>&nbsp;Symphonic Pop Metal</li>
<li><input type="checkbox" genre="Symphonic Prog"/>&nbsp;Symphonic Prog</li>
<li><input type="checkbox" genre="Tango"/>&nbsp;Tango</li>
<li><input type="checkbox" genre="Techno"/>&nbsp;Techno</li>
<li><input type="checkbox" genre="Techno Industrial"/>&nbsp;Techno Industrial</li>
<li><input type="checkbox" genre="Techno Metal"/>&nbsp;Techno Metal</li>
<li><input type="checkbox" genre="Techno Punk"/>&nbsp;Techno Punk</li>
<li><input type="checkbox" genre="Thai Folk"/>&nbsp;Thai Folk</li>
<li><input type="checkbox" genre="Trash Metal"/>&nbsp;Trash Metal</li>
<li><input type="checkbox" genre="Zeuhl"/>&nbsp;Zeuhl</li>
<li><input type="checkbox" genre="Zouk"/>&nbsp;Zouk</li>


</ul>
<button onclick="setGenreList()">Set</button>
</div>
