
<h1>Stats</h1>
  <p>
    <b>Most played Artists</b><br/>
    <ol class="stats">
      <li><a href="http://www.karlheinzstockhausen.org/" target="_new">Karlheinz Stockhausen</a></li>
      <li><a href="http://juntogawa.org/en/" target="_new">Jun Togawa</a></li>
      <li><a href="http://afrirampo.net/" target="_new">Afrirampo</a></li>
      <li><a href="http://www.shonenknife.net/" target="_new">Shonen Knife</a></li>
      <li><a href="http://www.buttholesurfers.com/" target="_new">Butthole Surfers</a></li>
      <li><a href="http://acidmothers.com/" target="_new">Acid Mothers Temple & The Melting Paraiso UFO</a></li>
      <li><a href="https://neubauten.org/" target="_new">Einsturzende Neubaten</a></li>
      <li><a href="http://tsushimamire.com/en/" target="_new">TsuShiMaMiRe</a></li>
      <li><a href="http://www.acidking.com/" target="_new">Acid King</a></li>
      <li><a href="http://www.charanporantan.net/" target="_new">Charan-Po-Rantan</a></li>
      <li><a href="http://www.residents.com/" target="_new">The Residents</a></li>
      <li><a href="http://borisheavyrocks.com/" target="_new">Boris</a></li>
      <li><a href="http://merzbow.net/" target="_new">Merzbow</a></li>
      <li><a href="http://www.citizenfish.com/" target="_new">Subhumans</a></li>
      <li><a href="https://en.wikipedia.org/wiki/54_Nude_Honeys" target="_new">54 Nude Honeys</a></li>
      <li><a href="https://leo-ferre.com" target="_new">Léo Ferré</a></li>
      <li><a href="http://ninahagendas.beepworld.de/" target="_new">Nina Hagen</a></li> 
      <li><a href="https://en.wikipedia.org/wiki/Gy%c3%b6rgy_Ligeti" target="_new">György Ligeti</a></li> 
      <li><a href="https://mutant-monster.com/" target="_new">Mutant Monster</a></li>
      <li><a href="http://www.lolita18.jp/" target="_new">Lolita no 18</a></li>


<!--<li><a href="http://www.geocities.jp/mummy_triangle/" target="_new">Mummy the Peepshow</a></li>      -->
<!--      <li><a href="http://www.gusya.net/" target="_new">ぐしゃ人間 (Gusya Ningen)</a></li>-->
    <!-- <li><a href="http://www.exgirl.jp/" target="_new">eX-Girl</a></li>      -->
     
<!--      <li><a href="http://www.blacksabbath.com/" target="_new">Black Sabbath</a></li>     --> 
   </ol>
  </p>
<script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=0uqvo1iwk67&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
