/* #divwrapper { display:flex; } */
/* #bandnav  { width: 590px; }  */
/* #tracknav { position: fixed;  */
/* 	    left: 600px; */
/* 	  } */

    @font-face {
    font-family: artifika;
    src: url(Artifika-Regular.ttf);
    }

#divwrapper {
    height: 98%;
    color: white;
    font-size: 22px;
    font-family: artifika;

}
#left {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
    margin-left: 5xp;

}

#bandnav div:hover {
    background-color: pink;
}



#right {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
    margin-left: 5xp;
}

#tracknav div:hover {
    background-color: lightblue;
}


#artistimg img { width: 174px }